<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Cuartel</title>
    <!-- Importar el CSS de Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cuartel 360</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Guardias</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Tareas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Inventario</a>
            <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
            </li>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <h1 class="display-4 text-center mb-4">Guardias</h1>

    <div class="container">
        <table class="table table-bordered table-fixed">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                    <th scope="col">Domingo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Semana 1</th>
                    <td>Perro</td>
                    <td>Gato</td>
                    <td>Mono</td>
                    <td>Jirafa</td>
                    <td>Cebra</td>
                    <td>Pollo</td>
                    <td>Paloma</td>
                </tr>
                <tr>
                    <th scope="row">Semana 2</th>
                    <td>Perro</td>
                    <td>Gato</td>
                    <td>Mono</td>
                    <td>Jirafa</td>
                    <td>Cebra</td>
                    <td>Pollo</td>
                    <td>Paloma</td>
                </tr>
                <tr>
                    <th scope="row">Semana 3</th>
                    <td>Perro</td>
                    <td>Gato</td>
                    <td>Mono</td>
                    <td>Jirafa</td>
                    <td>Cebra</td>
                    <td>Pollo</td>
                    <td>Paloma</td>
                </tr>
                <tr>
                    <th scope="row">Semana 4</th>
                    <td>Perro</td>
                    <td>Gato</td>
                    <td>Mono</td>
                    <td>Jirafa</td>
                    <td>Cebra</td>
                    <td>Pollo</td>
                    <td>Paloma</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Importar los scripts de Bootstrap -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>