<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Cuartel</title>
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- biblioteca fullcalendar -->
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/guardias.css">

</head>
<body>
    <div id="navbar"></div>

    <main>
        <img src="https://images.pexels.com/photos/20457290/pexels-photo-20457290/free-photo-of-banco-interior-cascos-estacion-de-bomberos.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100 imagen-guarda" alt="slide1">
        <h1 class="display-4 text-center mb-4">Guardias</h1>

        <div class="container">
            <div id="calendario"></div>
        </div>
    </main>

    <div id="footer"></div>
    <!-- scripts de Bootstrap -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FullCalendar scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/locales/es.global.min.js"></script>
    <!-- scripts -->
    <script src="../public/js/guardiasUser.js"></script>
    
    <script src="../public/js/componentLoader.js"></script>
    <script>
        Promise.all([
            cargarComponente("navbar", "../public/components/navbarUser.html"),
            cargarComponente("footer", "../public/components/footer.html")
        ]).then(() => {
            document.body.style.visibility = "visible";
        });
    </script>
</body>
</html>
