<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Cuartel</title>
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <div id="navbar"></div>

    <main>
        <img src="https://images.pexels.com/photos/19574862/pexels-photo-19574862/free-photo-of-ciudad-edificio-hombres-emergencia.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100 imagen-guarda" alt="slide1">
        <div class="container mt-5">
            <h1 class="display-4 text-center mb-4">Tareas</h1>

            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 50px;">✔</th>
                        <th>Descripción</th>
                        <th>Prioridad</th>
                    </tr>
                </thead>
                <tbody id="tabla-tareas">
                </tbody>
            </table>
        </div>
    </main>

    <div id="footer"></div>
    <!-- scripts de Bootstrap -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- scripts -->
    <script src="../public/js/tareasUser.js"></script>
    
    <script src="../public/js/componentLoader.js"></script>
    <script>
        Promise.all([
            cargarComponente("navbar", "../public/components/navbarUser.html"),
            cargarComponente("footer", "../public/components/footer.html")
        ]).then(() => {
            document.body.style.visibility = "visible";
        });
    </script>
</body>
</html>
